In [21]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [22]:
df = pd.read_csv("/Users/ruank6/Desktop/Payments.csv")

In [23]:
df.describe()

,Accountnumber,DD,CPA,EP,PR,GS,DCP,DCA,OTHER
count,6.051600e+04,60516.000000,60516.000000,60516.000000,60516.000000,60516.000000,60516.000000,60516.000000,60516.000000
mean,2.617694e+09,0.498810,0.494051,0.505751,0.495935,0.511303,0.506445,0.510410,0.506147
std,2.979657e+10,0.500003,0.499969,0.499971,0.499988,0.499876,0.499963,0.499896,0.499966
min,4.248500e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.261682e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.911475e+07,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,6.910123e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.060000e+12,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
pd.crosstab([df.DD,df.CPA,df.EP,df.PR,df.GS,df.DCP,df.DCA],df.OTHER,margins=True)

OTHER                         0      1    All
DD  CPA EP PR GS DCP DCA
0   0   0  0  0  0   0      216    324    540
                     1      348    264    612
                 1   0      240    270    510
                     1      246    372    618
              1  0   0      162    240    402
                     1      294    228    522
                 1   0      216    276    492
                     1      210    336    546
           1  0  0   0      264    240    504
                     1      180    306    486
                 1   0      186    150    336
                     1      216    264    480
              1  0   0      270    198    468
                     1      174    294    468
                 1   0      276    264    540
                     1      216    180    396
        1  0  0  0   0      258    294    552
                     1      282    228    510
                 1   0      216    120    336
                     1      264    228    492
              1  0   0      210    276    486
                     1      288    222    510
                 1   0      390    192    582
                     1      174    312    486
           1  0  0   0      210    162    372
                     1      180    300    480
                 1   0      198    240    438
                     1      252    252    504
              1  0   0      258    246    504
                     1      162    168    330
...                         ...    ...    ...
1   1   0  0  0  1   1      216    228    444
              1  0   0      258    276    534
                     1      264    354    618
                 1   0      258    168    426
                     1      204    294    498
           1  0  0   0      288    132    420
                     1       96    252    348
                 1   0      162    234    396
                     1      288    264    552
              1  0   0      168    372    540
                     1      144    216    360
                 1   0      216    264    480
                     1      258    348    606
        1  0  0  0   0      198    162    360
                     1      168    156    324
                 1   0      204    180    384
                     1      306    276    582
              1  0   0      228    162    390
                     1      270    210    480
                 1   0      246    210    456
                     1      282    306    588
           1  0  0   0      240    204    444
                     1      222    192    414
                 1   0      318    120    438
                     1      246    264    510
              1  0   0      252    300    552
                     1      258    258    516
                 1   0      210    162    372
                     1      354    306    660
All                       29886  30630  60516

[129 rows x 3 columns]